
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env

# Data
data/*.pdf
*.pdf
temp/
output/
data/
outputs/
*.swp

# OS
.DS_Store

# Added by github-skill-publisher
node_modules/
build/
*.pyc
dist/
.env
*.egg-info/
